*compiled/
*~
*.swp
*.swo
*.out
*.err
docs/*.html
docs/*.css
docs/*.js
docs/lang/*
src/lang/pyret-lib/moorings.rkt
js/test-runner/tests.js
*#
js/tests/**/*.js
js/list-lib-tests/**/*.js
js/moorings-tests/**/*.js
